<div class="comment" data-message="{{message.pk}}">
    <div class="left-col">{{ message.user }}</div>
    <div class="top right"> #{{message.pk}} </div> 
    <div class="bottom right reply" data-message="{{message.pk}}">Reply</div>
    <div class="content">{{ message.text }}</div>
</div>