<div id="{{message.pk}}" class="container">
    <div class="collapsible ancestors" style="display:none;">
    </div>  
    <div class="message">
       {% include 'comment.tmpl' %}
    </div>
   <div class="collapsible children" style="display:none;">
    </div>  
</div>