<div id="{{message.pk}}" class="container">
    <div class="collapsible ancestors" style="display:none;">
       {% for message in message.get_ancestors %}
        {% include 'comment.tmpl' %}
       {% endfor %}
    </div>  
    <div class="message">
       {% include 'comment.tmpl' %}
	</div>
   <div class="collapsible children" style="display:none;">
        {% for message in message.children.all %}
            {% include 'comment.tmpl' %}
        {% endfor %}
    </div>  
</div>